<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/home" routerLink="/home" routerLinkActive="active">Home</a>
      <a mat-list-item href="/pipes" routerLink="/pipes" routerLinkActive="active">Pipes</a>
      <a mat-list-item href="/servings" routerLink="/servings" routerLinkActive="active">Servings</a>
      <a mat-list-item href="/analytics-workloads" routerLink="/analytics-workloads" routerLinkActive="active">Analytics Workloads</a>
      <a mat-list-item href="/serving-workloads" routerLink="/serving-workloads" routerLinkActive="active">Serving Workloads</a>
      <a mat-list-item href="/analytics-services" routerLink="/analytics-services" routerLinkActive="active">Analytics Kube Services</a>
      <a mat-list-item href="/serving-services" routerLink="/serving-services" routerLinkActive="active">Serving Kube Services</a>
      <a mat-list-item href="/influx-measurements" routerLink="/influx-measurements" routerLinkActive="active">Influx Measurements</a>
      <a mat-list-item href="/kafka-topics" routerLink="/kafka-topics" routerLinkActive="active">Kafka Topics</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>ui</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
